<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejs engine</title>
</head>
<body>

<p>
    Hello <%-data%>!
</p>

<%
let arrN = [1, 2, 6];
arrN.forEach(item=> {
if (item === 1) {
%>
    <h1>This is h1 tag</h1>
<% } else if (item === 2){ %>
    <h2>This is h2 tag</h2>
<% } else { %>
    <p>Not h tag</p>
<% }}) %>

</body>
</html>